@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: white;
    font-family: 'Open Sans', sans-serif;
}

nav {
    font-family: 'Josefin Sans', sans-serif;
}

section.chat__section {
    width: 800px;
    max-width: 90%;
    background: rgb(243, 241, 241);
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(45px);
}

.message__area {
    height: 400px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    /* it gives a scroll bar to the messages in case of overflow */
    overflow-y: auto;
    padding-top: 40px;
}

form {
    border: solid 2px;
    border-color: #ebe5e5;
    border-radius: 10px;
    background-color: white;
}

#textarea {
    border: none;
    padding: 20px;
    font-size: 16px;
    outline: none;
    border-radius: 10px;
    background: #FBFBFB;
}

#logo {
    font-size: 1.4em;
    color: rgb(7, 109, 75);
}


.navbar-brand span{
    font-family: 'Montserrat', sans-serif;
    margin-left: 5px;
    font-weight: bold;
    color: rgb(83, 82, 80);
}

#sendMessageButton, #sendLocationButton {
    float: right;
    padding: 10px;
    border: none;
    background-color: #FBFBFB;
    font-size: 1.4em;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 5px;
}

#sendLocationButton {
    color: rgb(236, 144, 22);
}

#users {
    background-color: #b5f7de;
    border: solid 2px #94c7b4;
}

.fa-users {
    padding: 0.1em;
    background-color: rgb(17, 17, 16);
    color: #b5f7de;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 2px;
}

#usernav {
    font-size: 1.2em;
}

.userlistItem {
    padding: 5px;
    margin: 5px;
    background-color: #b5f7de;
    border: solid 2px #739e8e;
    color: #739e8e;
    border-radius: 5px;
}

.locationLink {
    color: #064e32;
    text-decoration: none;
}

.locationLink i {
    color: rgb(170, 28, 28);
}

.userlistItem i {
    margin: 5px;
    font-size: 1.2em;
    color: #739e8e;
}


#sendMessageButton {
    color: #89bda9;
}

/* div for the message */
.incoming, .outgoing {
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 5px;
    width: 200px;
    max-width: 300px;
    position: relative;
    overflow-wrap: break-word;
    box-shadow: 0 10px 10px rgba(165, 164, 164, 0.4);
    font-family: 'Roboto', sans-serif;
}

.message {
    text-align: center;
    color: #323236;
}

.time {
    font-family: 'Alfa Slab One', cursive;
    font-size: 0.8em;
}

.navbar-nav li {
    color: black;
}

.msgElement {
    color: rgb(29, 56, 29);
}

.incoming {

    background: #ccf3e4;
    color: rgb(37, 36, 36);
    border-radius: 10px 10px 0px 10px;
    margin-left: auto;

}

.outgoing {

    background: white;
    color: #787986;
    border-radius: 0px 10px 10px 10px;
}

/* usename */
.user {
    left: 0;
    font-family: 'Alfa Slab One', cursive;
    color: rgb(12, 11, 11);
    font-size: 0.8em;
}