@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #979696;
    font-family: 'Roboto', sans-serif;
}
section.chat__section {
    width: 800px;
    max-width: 90%;
    background: #fff;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
.brand {
    padding: 20px;
    background: #f1f1f1;
    display: flex;
    align-items: center;
}
.brand h1 {
    text-transform: uppercase;
    font-size: 20px;
    color: #444;
    margin-left: 10px;
}
.message__area{
    height: 400px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    /* it gives a scroll bar to the messages in case of overflow */
    overflow-y: auto;
    padding-top: 40px;
}
form{
    border: solid 2px;
    border-color: rgb(133, 130, 130);
}
#textarea {
    border: none;
    padding: 20px;
    font-size: 16px;
    outline: none;
    background: #FBFBFB;
}

#sendMessageButton ,#sendLocationButton{
    float: right;
    padding: 10px;
    border: none;
    font-size: 1.4rem;
    background-color: #fcfcfc;
    border-radius: 50px;
    margin: 5px;
}
#sendLocationButton{
   color: rgb(93, 236, 27); 
}
.userlistItem{
    background-color: #7c7c83;
    padding: 5px;
    margin: 5px;
}
.userlistItem i{
    margin: 5px;
    color: #f1f1f1;
}
.fa-users{
    margin: 5px;
    /* color: #f1f1f1; */
}
#sendMessageButton{
    color: rgb(42, 121, 211);
}



/* div for the message */
.incoming,.outgoing {
    padding: 20px; 
    border-radius: 4px; 
    margin-bottom: 40px;
    max-width: 300px;
    position: relative;
    overflow-wrap: break-word;
}
.message{
    text-align: center;
    color: #787986;
}
.navbar-nav li{
    color: black;
}
.msgElement{
    color: rgb(105, 194, 105);
}

.incoming {
    background: #8F8BE8;
    border-radius: 50px 50px 0px 50px;
    margin-left: auto;
    color: #fff;  
}
.outgoing {
    background: #e9eafd;
    color: #787986;
    border-radius: 0px 50px 50px 50px;
}
/* usename */
h4 {
    left: 0;
    color: rgb(24, 23, 23);
}